extends layout

block content
  section#recipe
      .container
        .row
          // Title
          .col-12
            .row
              h2
                =recipe.title
                |     - 
                each al, i in s
                  h2
                    =al
                    |     - 
                    br
                

        .row.vertical-align
          .col-12
            // Picture
            .col-md-8.pull-left.wow.swing
              img.recipe-picture(src='/'+recipe.image, alt=recipe.title)
              a(href='#changeImage', data-toggle='modal', data-target='#changeImage')|   Change Image
            // Info
            .col-md-4.pull-right.wow.lightSpeedIn
              .recipe-info
                h3 Info - 
                   a(href='#editRecipe', data-toggle='modal', data-target='#editRecipe')|   Edit   |
                   a.recipe-delete(href='#' data-id=recipe._id)|   Delete
                // Time
                .row
                  .col-2.text-center
                    i.fa.fa-clock-o(aria-hidden='true')
                  .col-6 Time
                  .col-4 
                    =recipe.timetocook
                // Difficulty
                .row
                  .col-2.text-center
                    i.fa.fa-area-chart(aria-hidden='true')
                  .col-6 Difficulty -
                    = recipe.dfficulty
                  .col-4
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                // Serves
                .row
                  .col-2.text-center
                    i.fa.fa-users(aria-hidden='true')
                  .col-6 Servings
                  .col-4 
                    =recipe.servings
        // Ingredients
        .row.wow.slideInUp
          .col-12
            .recipe-ingredients
              h3 Ingredients - 
                a(href='#addIngredients', data-toggle='modal', data-target='#addIngredients')|Add
              dl.ingredients-list
                each recipes, i in recipe.ingredients
                  dt 
                    = recipes.amount + recipes.measurements
                  dd 
                    = recipes.description
                    |       - 
                    a(href='#editIngredients', data-toggle='modal', data-target='#editIngredients')|   Edit
                    |       |
                    a.ingredients-delete(href='#' data-id=recipes._id data-age=recipe._id)|   Delete
                
        // Directions
        .row.wow.slideInUp
          .col-12
            .recipe-directions
              h3 Directions - 
                a(href='#addDirections', data-toggle='modal', data-target='#addDirections')|Add
              ol
                each recipes, i in recipe.directions
                  li 
                    = recipes.description
                    |       - 
                    a(href='#editDirections'+recipes.id, data-toggle='modal', data-target='#editDirections')|   Edit
                    |       |
                    a.directions-delete(href='#' data-id=recipes._id data-age=recipe._id)|   Delete
                
        // Back to recipes
        .row.wow.rollIn
          .col-12.text-center
            a(href='/recipes')
              i.fa.fa-backward(aria-hidden='true')
              |             Go to back to recipes.
  #addIngredients.modal.fade(tabindex='-1', role='dialog', aria-labelledby='addIngredientsLabel', aria-hidden='true')
      .modal-dialog(role='document')
          .modal-content
              .modal-header
                  h5#addIngredientsLabel.modal-title Add Ingredients
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true')
              .modal-body
                  form(method='POST', action='/recipes/ingredients/add/'+recipe.id)
                      #form-group
                          label Description:
                          input.form-control(name='description', type='text')
                      .form-row
                        #form-group.col-md-7
                          label Amount
                          input#inputCity.form-control(name='amount', type='text')
                        #form-group.col-md-4
                          label Measurements
                          select.form-control(name='measurements', type='text')
                            option(name='measurements', type='text' selected='') Choose...
                            option mg
                            option g
                            option kg
                            option ml
                            option l
                            option kl
                          br
                      input.btn.btn-primary(type='submit', value='Save')
                      a.btn.btn-danger(href='/recipes/'+recipe._id) Cancel  
  #changeImage.modal.fade(tabindex='-1', role='dialog', aria-labelledby='changeImageLabel', aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#changeImageLabel.modal-title Change Image
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true')
            .modal-body
                form(method='POST', action='/recipes/image/edit/'+recipe.id enctype="multipart/form-data")
                    #form-group
                        label Image:
                        input.form-control(type='file', name='image')
                        br
                    input.btn.btn-primary(type='submit', value='Save')
                    a.btn.btn-danger(href='/recipes/'+recipe._id) Cancel                     
  #editIngredients.modal.fade(tabindex='-1', role='dialog', aria-labelledby='editIngredientsLabel', aria-hidden='true')
      .modal-dialog(role='document')
          .modal-content
              .modal-header
                  h5#editIngredientsLabel.modal-title Edit Ingredients
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true')
              .modal-body
                  form(method='POST', action='/recipes/ingredients/edit/'+recipe.id)
                      #form-group
                          label Description:
                          input.form-control(name='description', type='text' value=recipe.description)
                      .form-row
                        #form-group.col-md-7
                          label Amount
                          input.form-control(name='amount', type='text' value=recipe.amount)
                        #form-group.col-md-4
                          label Measurements
                          select.form-control(name='measurements', type='text')
                            option(name='measurements', type='text' selected='') Choose...
                            option mg
                            option g
                            option kg
                            option ml
                            option l
                            option kl
                          br
                      input.btn.btn-primary(type='submit', value='Save')
                      a.btn.btn-danger(href='/recipes/'+recipe._id) Cancel                      
  #addDirections.modal.fade(tabindex='-1', role='dialog', aria-labelledby='addDirectionsLabel', aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#addDirectionsLabel.modal-title Add Directions
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true')
            .modal-body
                form(method='POST', action='/recipes/directions/add/'+recipe.id)
                    #form-group
                        label Description:
                        input.form-control(name='description', type='text' value=recipe.de)
                    
                        br
                    input.btn.btn-primary(type='submit', value='Submit')
                    a.btn.btn-danger(href='/recipes/'+recipe._id) Cancel                
  #editDirections.modal.fade(tabindex='-1', role='dialog', aria-labelledby='editDirectionsLabel', aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#editDirectionsLabel.modal-title Edit Directions
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true')
            .modal-body
                form(method='POST', action='/recipes/directions/edit/'+recipe.id)
                    #form-group
                        label Description:
                        input.form-control(name='description', type='text')
                    
                        br
                    input.btn.btn-primary(type='submit', value='Submit')
                    a.btn.btn-danger(href='/recipes/'+recipe._id) Cancel          
  #editRecipe.modal.fade(tabindex='-1', role='dialog', aria-labelledby='editRecipeLabel', aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#editRecipeLabel.modal-title Edit Recipe
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true')
            .modal-body
                form(method='POST', action='/recipes/edit/'+recipe._id)
                    
                    #form-group
                        label Title:
                        input.form-control(name='title', type='text' value=recipe.title)
                    #form-group
                        label Decription:
                        input.form-control(name='description', type='text' value=recipe.description)
                    #form-group
                        label Time To Cook:
                        //input.form-control(name='timetocook', type='text' value=recipe.timetocook)
                        input.form-control.js-time-picker(name='timetocook' type='text', value='02:56')

                    #form-group
                        label Dfficulty
                        select.form-control(name='dfficulty', type='text')
                          option(name='dfficulty', type='text' ) Choose...
                          option(name='dfficulty', type='text' selected=veryeasy) Very Easy
                          option(name='dfficulty', type='text' selected=easy) Easy
                          option(name='dfficulty', type='text' selected=fair) Fair
                          option(name='dfficulty', type='text' selected=hard) Hard
                          option(name='dfficulty', type='text' selected=veryhard) Very Hard   
                    #form-group
                        label Servings:
                        input.form-control(name='servings', type='text' value=recipe.servings)
                    br    
                    #form-group
                        label Allergies:
                          .row
                            .col-6
                              .form-check
                                input.form-check-input(name='allergies' type='checkbox', value='Gluten' checked=a[0])
                                |   
                                label.form-check-label
                                  | Gluten
                              .form-check
                                  input.form-check-input(name='allergies' type='checkbox', value='Peanuts' checked=a[1])
                                  |   
                                  label.form-check-label
                                    | Peanuts
                              .form-check
                                  input.form-check-input(name='allergies' type='checkbox', value='Tree_Nuts' checked=a[2])
                                  |   
                                  label.form-check-label
                                    | Tree Nuts
                              .form-check
                                  input.form-check-input(name='allergies' type='checkbox', value='Celery' checked=a[3])
                                  |   
                                  label.form-check-label
                                    | Celery
                              .form-check
                                  input.form-check-input(name='allergies' type='checkbox', value='Mustard' checked=a[4])
                                  |   
                                  label.form-check-label
                                    | Mustard
                              .form-check
                                  input.form-check-input(name='allergies' type='checkbox', value='Eggs' checked=a[5])
                                  |   
                                  label.form-check-label
                                    | Eggs
                              .form-check
                                  input.form-check-input(name='allergies' type='checkbox', value='Milk' checked=a[6])
                                  |   
                                  label.form-check-label
                                    | Milk
                            .col-6        
                              .form-check
                                  input.form-check-input(name='allergies' type='checkbox', value='Sesame' checked=a[7])
                                  |   
                                  label.form-check-label
                                    | Sesame
                              .form-check
                                  input.form-check-input(name='allergies' type='checkbox', value='Fish' checked=a[8])
                                  |   
                                  label.form-check-label
                                    | Fish
                              .form-check
                                  input.form-check-input(name='allergies' type='checkbox', value='Crustaceans' checked=a[9])
                                  |   
                                  label.form-check-label
                                    | Crustaceans
                              .form-check
                                  input.form-check-input(name='allergies' type='checkbox', value='Molluscs' checked=a[10])
                                  |   
                                  label.form-check-label
                                    | Molluscs
                              .form-check
                                  input.form-check-input(name='allergies' type='checkbox', value='Soya' checked=a[11])
                                  |   
                                  label.form-check-label
                                    | Soya
                              .form-check
                                  input.form-check-input(name='allergies' type='checkbox', value='Sulphites' checked=a[12])
                                  |   
                                  label.form-check-label
                                    | Sulphites
                              .form-check
                                  input.form-check-input(name='allergies' type='checkbox', value='Lupin' checked=a[13])
                                  |   
                                  label.form-check-label
                                    | Lupin
                    #form-group
                        label Sites:
                          .row
                            .col-12
                              each site, i in sites
                                .form-check
                                  input.form-check-input(name='sites' type='checkbox', value=site.name checked=b[i])
                                  |   
                                  label.form-check-label
                                    = site.name               
                    input.btn.btn-primary(type='submit', value='Submit')
                    a.btn.btn-danger(href='/recipes') Cancel                                             